body {
  margin: 0;
}

.landing-wrapper-img {
  background: url(https://images.unsplash.com/photo-1445711005973-54fe2a103826?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.landing-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.597);
}

.social-links a img {
  padding: 0;
  margin: 0;
  height: 38px;
}

.landing-headers > * {
  color: white;
  text-shadow: 2px 2px rebeccapurple;
  padding: 0;
  margin: 0;
}

footer {
  padding: 0;
  margin: 0;
}

footer img {
  height: 40px;
}

footer img:hover {
  width: 50px;
  overflow: hidden;
}
